<h1>All our Flats</h1>
<h4>All <%= @flats.count %> flats.</h4>

<div class="d-flex justify-content-around">
  <% @flats.each do |flat| %>
  <div class="flat-card">
    <div class="flat-card-image">
      <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
    </div>
    <div class="flat-card-content">
      <h2> <%= flat.name %> </h2>
      <p> <%= flat.address %> </p>
      <p> People: <%= flat.number_of_guests %> Price: <%= flat.price_per_night %> </p>
    </div>
    <div class="flat-card-footer">
      <%= link_to "More Info", flat_path(flat) %> <%= link_to "Edit", edit_flat_path(flat) %> <%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  </div>
  <% end %>
</div>
