<h1> <%= @flat.name %> </h1>
<h5> <%= @flat.address %> </h5>
  <p> <%= @flat.number_of_guests %> <%= @flat.price_per_night %> </p>
  <p> <%= @flat.description %> </p>
  <%= link_to "Edit", edit_flat_path(@flat) %> <%= link_to "Remove", flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?'} %>

  <br><%= link_to "Go Back", flats_path %>
